In [21]:
a = [i**2 for i in range(10)] #[0, 1, 2, 3, 4, 5, 6 .. 9]
b = a[2:4]
print(b)

list(map(lambda i:i**2, range(10)))

list_a = []
for i in range(1, 10): # 1 <= x < 10
    list_a.append(i **2)

#list_a

[0, 1, 4, 9]

In [ ]:
list(map(lambda x: x**2, range(10)))

In [14]:
[i**2 for i in range(10) if i > 5]

[36, 49, 64, 81]

In [ ]:
list(map(lambda x: x ** 2, list(filter(lambda x: x > 5, range(10)))))

In [ ]:
# 1-100 까지 숫자중에서 짝인 애들의 제곱리스트
list(map(lambda x: x**2, list(filter(lambda x: x % 2 == 0, range(1, 101)))))

In [15]:
[i ** 2 for i in range(1, 101) if i % 2 == 0]

[4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604,
 10000]

In [ ]:
awesome_list = [i for i in range(0, 9+1)]

In [ ]:
filter(lambda x: x > 5, awesome_list)

In [3]:
#소수가 아닌 애들
#1~n - 소수가 아닌 애들  
MAX = 1000

not_prime_list = [
    j
    for i in range(2, int(MAX**0.5) + 1) # =>  2, 3, 4, ..., 30,
    for j in range(i*2, MAX+1, i) # j => i=2; 
]
#not_prime_list

not_prime_list = list(set(not_prime_list))

prime_list = [
    i
    for i in range(2, MAX+1)
    if i not in not_prime_list
]

prime_list

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997]

In [ ]:
for i in range(4, 10, 2):
    print(i)

In [4]:
for i in range(0, 10)

SyntaxError: invalid syntax (<ipython-input-4-cb36f0a6bbbe>, line 1)

In [9]:
awesome_list = [
    (i, j)
    for i in range(8)
    for j in range(4)
]
awesome_list

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3)]

In [ ]:
   asdf