In [1]:
import requests
BASE_URL = "https://api.zigbang.com/v3/items?detail=true&item_ids=[12749409,12826070,12959724,12964917,12925342,12908561,12911317,12922439,12937885]"

In [2]:
response = requests.get(BASE_URL)

In [3]:
# json -> javascript object notation

In [4]:
import json

In [5]:
room_information = json.loads(response.text)

In [6]:
room_information["items"][0]["item"]["agent_address1"]

'서울특별시 관악구 봉천동 1601-9번지'

In [7]:
import pandas as pd

df = pd.DataFrame(columns=["address", "deposit", "rent"])

In [8]:
for room_id in range(12749409, 12749409 + 100):
    BASE_URL = "https://api.zigbang.com/v3/items?detail=true&item_ids=[" + str(room_id) + "]"
    response = requests.get(BASE_URL)
    room_information = json.loads(response.text)
    
    try:
        address = room_information["items"][0]["item"]["agent_address1"]
        deposit = room_information["items"][0]["item"]["deposit"]
        rent = room_information["items"][0]["item"]["rent"]
        print((address, deposit, rent))
        df.loc[len(df)] = [address, int(deposit), int(rent)]  
    except:
        pass

('서울특별시 관악구 봉천동 1601-9번지', 5000, 40)
('대전광역시 유성구 죽동로 321, 상가 107호(죽동, 금성백조에미지)', 1000, 55)
('부산광역시 해운대구 반여2동 1291-1408', 100, 27)
('서울특별시 용산구 보광로 49', 1000, 60)
('충청남도 아산시 온천대로 1555 (온천동 .모노팰리스 101-2호)', 1000, 43)
('경기도 용인시 수지구 광교중앙로 297 D동 110호', 13300, 0)
('울산광역시 동구 화진길 143', 9000, 0)
('부산광역시 해운대구 반여2동 1291-1408', 100, 30)
('경기도 수원시 권선구 세지로 74-1 (권선동)', 2000, 65)
('서울특별시 강북구 오패산로 417 지1층', 500, 50)
('인천광역시 중구 영종대로162번길 20 112B호', 12000, 0)
('서울특별시 서초구 서초2동 1337-6 강남효성해링턴타워102호', 21500, 0)
('서울시 강남구 역삼로 216 1층', 1500, 110)
('경기도 안산시 상록구 본오로 169 101호', 300, 38)
('경기도 용인시 수지구 수풍로117번길 2-6 ,104호,105호', 1000, 80)
('서울특별시 강북구 한천로129길 14', 500, 30)
('대구광역시 남구 현충로 161-2', 7000, 0)
('서울특별시 관악구 봉천동 1601-9번지', 3000, 50)
('서울특별시 성동구 마조로1길 42, 1층', 3000, 50)
('경상남도 김해시 대청동 306-9 101호', 200, 23)
('서울특별시 성북구 동소문동5가 107번지', 1000, 45)
('경기도 안산시 상록구 각골로 120 (본오동)', 2000, 55)
('서울특별시 도봉구 도봉로109길 27 1층', 1000, 40)
('경상남도 김해시 대청동 306-9 101호', 3000, 45)
('울산광역시 동구 화진길 143', 200, 20)
('경상남도 거제시 아주로 73', 300, 40)
('경기도 안산시 상록구 본오로 169 101호', 7300, 0)
('서울특별시 동작구 사당로16마길 29 101호 (사당동, 엘파라시오 7차)', 1000, 30)
('대구광역시 수성구 동대구로12안길 9', 500, 50)
('인천광역시 연수구 함박로25번길2(연수동)', 300, 60)
('경기도 안산시 상록구 각골로 120 (본오동)', 300, 31)
('경기도 구리시 토평동 975-7', 200, 33)
('대전광역시 서구 갈마로 215 (괴정동)', 500, 35)
('서울시 강서구 화곡로13나길 23', 19500, 0)
('경기도 고양시 일산동구 호수로 662 , 102호', 1000, 70)
('서울특별시 성동구 용답동 238-12  서희스타힐스리버파크 제2층 제214호', 15700, 0)
('대전광역시 대덕구 중리동 179-5 101호', 6000, 0)
('인천광역시 연수구 송도동 83 b동 상가128호', 500, 50)
('부산광역시 해운대구 반여2동 1291-1408', 100, 29)
('충청북도 청주시 흥덕구 봉명동 913-1번지 1층', 300, 45)
('경기도 용인시 수지구 광교중앙로295번길 21(상현동 1116-1)', 6500, 20)
('경기도 안양시 동안구 귀인로 90', 18000, 0)
('서울시 영등포구 당산로38길 9 1층일부', 1000, 50)
('울산광역시 동구 화진길 143', 1000, 20)
('경기도 하남시 하남대로855번길 16', 18000, 0)
('대구광역시 수성구 희망로 169 2층(황금동)', 1000, 32)
('대전광역시 서구 용문동 268-53번지', 100, 20)
('서울특별시 송파구 풍성로 31 (풍납동)', 1000, 45)
('서울특별시 송파구 백제고분로36가길 9', 3000, 60)
('인천광역시 연수구 송도동 83 b동 상가128호', 500, 50)
('울산광역시 중구 학성로 64', 500, 45)
('대전광역시 서구 도솔로 289', 15000, 0)
('경상남도 양산시 물금읍 동중2길 5', 500, 35)
('경기도 화성시 향남읍 상신하길로144번길 22-14 B101호', 500, 46)
('인천광역시 부평구 부평대로 163, 103호', 1000, 75)
('서울특별시 강남구 역삼동 778-32번지 1층', 28000, 0)

In [17]:
df

                                       address deposit rent
0                       서울특별시 관악구 봉천동 1601-9번지    5000   40
1      대전광역시 유성구 죽동로 321, 상가 107호(죽동, 금성백조에미지)    1000   55
2                    부산광역시 해운대구 반여2동 1291-1408     100   27
3                             서울특별시 용산구 보광로 49    1000   60
4       충청남도 아산시 온천대로 1555 (온천동 .모노팰리스 101-2호)    1000   43
5                경기도 용인시 수지구 광교중앙로 297 D동 110호   13300    0
6                             울산광역시 동구 화진길 143    9000    0
7                    부산광역시 해운대구 반여2동 1291-1408     100   30
8                   경기도 수원시 권선구 세지로 74-1 (권선동)    2000   65
9                       서울특별시 강북구 오패산로 417 지1층     500   50
10                 인천광역시 중구 영종대로162번길 20 112B호   12000    0
11         서울특별시 서초구 서초2동 1337-6 강남효성해링턴타워102호   21500    0
12                          서울시 강남구 역삼로 216 1층    1500  110
13                    경기도 안산시 상록구 본오로 169 101호     300   38
14         경기도 용인시 수지구 수풍로117번길 2-6 ,104호,105호    1000   80
15                        서울특별시 강북구 한천로129길 14     500   30
16                          대구광역시 남구 현충로 161-2    7000    0
17                      서울특별시 관악구 봉천동 1601-9번지    3000   50
18                      서울특별시 성동구 마조로1길 42, 1층    3000   50
19                     경상남도 김해시 대청동 306-9 101호     200   23
20                      서울특별시 성북구 동소문동5가 107번지    1000   45
21                   경기도 안산시 상록구 각골로 120 (본오동)    2000   55
22                     서울특별시 도봉구 도봉로109길 27 1층    1000   40
23                     경상남도 김해시 대청동 306-9 101호    3000   45
24                            울산광역시 동구 화진길 143     200   20
25                             경상남도 거제시 아주로 73     300   40
26                    경기도 안산시 상록구 본오로 169 101호    7300    0
27                 전라북도 전주시 덕진구 가재미5길 10, 101호     300   30
28   서울특별시 동작구 사당로16마길 29 101호 (사당동, 엘파라시오 7차)    1000   30
29                        대구광역시 수성구 동대구로12안길 9     500   50
30                     인천광역시 연수구 함박로25번길2(연수동)     300   60
31                   경기도 안산시 상록구 각골로 120 (본오동)     300   31
32                           경기도 구리시 토평동 975-7     200   33
33                      대전광역시 서구 갈마로 215 (괴정동)     500   35
34                          서울시 강서구 화곡로13나길 23   19500    0
35                 경기도 고양시 일산동구 호수로 662 , 102호    1000   70
36  서울특별시 성동구 용답동 238-12  서희스타힐스리버파크 제2층 제214호   15700    0
37                    대전광역시 대덕구 중리동 179-5 101호    6000    0
38                  인천광역시 연수구 송도동 83 b동 상가128호     500   50
39                   부산광역시 해운대구 반여2동 1291-1408     100   29
40                 충청북도 청주시 흥덕구 봉명동 913-1번지 1층     300   45
41       경기도 용인시 수지구 광교중앙로295번길 21(상현동 1116-1)    6500   20
42                          경기도 안양시 동안구 귀인로 90   18000    0
43                      서울시 영등포구 당산로38길 9 1층일부    1000   50
44                            울산광역시 동구 화진길 143    1000   20
45                        경기도 하남시 하남대로855번길 16   18000    0
46                   대구광역시 수성구 희망로 169 2층(황금동)    1000   32
47                       대전광역시 서구 용문동 268-53번지     100   20
48                      서울특별시 송파구 풍성로 31 (풍납동)    1000   45
49                       서울특별시 송파구 백제고분로36가길 9    3000   60
50                  인천광역시 연수구 송도동 83 b동 상가128호     500   50
51                             울산광역시 중구 학성로 64     500   45
52                            대전광역시 서구 도솔로 289   15000    0
53                         경상남도 양산시 물금읍 동중2길 5     500   35
54          경기도 화성시 향남읍 상신하길로144번길 22-14 B101호     500   46
55                    인천광역시 부평구 부평대로 163, 103호    1000   75
56                   서울특별시 강남구 역삼동 778-32번지 1층   28000    0

In [9]:
df.mean()

Series([], dtype: float64)